.Table {
  margin-top: 50px;
}
.main {
  color: white;
}

.Title {
  margin-top: 10px;
  font-size: 30px;
}
.perguntas {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
  border: 2px solid black;
}
.pergunta {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 500;
}
.HeaderTable {
  background-color: gray;
  color: white;
  border: 1px solid white;
  font-size: 20px;
}

.CorpoTable {
  background-color: #ddd9ce;
  color: black;
  border: 1px solid black;
  font-size: 20px;
}

.FooterTable {
  text-align: center;
  background-color: #ddd9ce;
  color: black;
  border: 1px solid black;
  font-size: 20px;
}
